<div class="mt-4 search">
    <form method="POST" action="">
      <div class="form-group">
        <label for="search-input" class="form-label">Nhập từ khóa</label>
        <input type="text" name="q" class="form-control" id="search-input" aria-describedby="Nhập từ khóa">
      </div>

      <div class="form-group">
        <label for="search-input" class="form-label">từ khóa</label>
        <select name="gender" class="form-control" id="gender-input">
            <option value="">--chọn giới tính--</option>
            <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
      </div>
      
      <button type="submit" class="mt-2 btn btn-primary">Tìm kiếm</button>
    </form>
</div>